{% extends "frame.html" %}

{% block content %}

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    .container h2 {
        text-align: center;
        margin : 0;
    }
    .filter {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px
    }
    .filter select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 20px;
    }
    .category {
        padding : 15px 10px;
        background-color: #979797;
    }
    .b_filter {
        background-color: #979797;
        border: 0;
        color: white;
    }
    .region {
        margin: 10px 20px;
    }
    .region select{
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    form button {
        color : white;
        background-color: #B72424;
        padding: 10px;
        border: 0px;
        border-radius: 5px;
        margin : 10px 0px;
    }
    .grid {
        padding : 30px 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }
    .card {
        padding: 20px;
        text-align: center;
    }
    .location {
        font-size: 14px;
        color: #666;
    }
    .c_category {
        font-size: 14px;
        color: #666;
        margin-left: 10px;
    }
    input[type="text"] {
        margin: 10px 0;
        padding: 10px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .info {
        display: flex;
        align-items: baseline;
        gap: 10px;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        text-align: left;
    }
    .card {
        background-color: white;
        border: none;
    }
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 20px;
    }

    .pagination a {
        text-decoration: none; 
        padding: 10px 15px; 
        margin: 0 5px;
        border: 1px solid #ccc; 
        border-radius: 5px; 
        background-color: #f8f8f8; 
        color: #333;
        transition: background-color 0.3s, color 0.3s; 
    }

    .pagination a:hover {
        background-color: #B72424; 
        color: white; 
    }

    .pagination span {
        padding: 10px 15px;
        margin: 0 5px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        background-color: #B72424; 
        color: white; 
    }
</style>

<div class="container">
    <h2>VEGAN RECIPE</h2>
    <div class="filter">
        <select name="view-count" id="view-count" onchange="updateViewCount()">
            <option id="view" value="15" {% if per_page == 15 %}selected{% endif %}>15개 보기</option>
            <option id="view" value="20" {% if per_page == 20 %}selected{% endif %}>20개 보기</option>
            <option id="view" value="25" {% if per_page == 25 %}selected{% endif %}>25개 보기</option>
            <option id="view" value="30" {% if per_page == 30 %}selected{% endif %}>30개 보기</option>
        </select>
    </div>    
    
    <div class="category">
        <button class="b_filter" data-category="전체보기" onclick="filterRestaurants('전체보기', this)">EASY</button>
        <button class="b_filter" data-category="한식" onclick="filterRestaurants('한식', this)">MEDIUM</button>
        <button class="b_filter" data-category="양식" onclick="filterRestaurants('양식', this)">HARD</button>
        <button class="b_filter" data-category="중식" onclick="filterRestaurants('중식', this)">1~2</button>
        <button class="b_filter" data-category="일식" onclick="filterRestaurants('일식', this)">3~4</button>
    </div>

    <div class="region">
        <form method="post">
            <input type="text" name="search" placeholder="레시피명을 입력하세요.">
            <button class="button" type="submit">Find recipe</button>
        </form>
    </div>

    <div class="grid" id="restaurant-grid">
        {% if recipes and recipes|length > 0 %}
            {% for recipes in paginated_recipes %}
            <button class="card" data-category="{{ recipes[1] }}" onclick="redirectToDetail('{{ recipes[0] }}')">
                <img src="{{recipes[3]}}" width="150" height="150">
                <div class="title">{{ recipes[2] }}</div>
            </button>
            {% endfor %}
        {% else %}
            <p>식당이 없습니다.</p>
        {% endif %}
    </div>

    <div class="pagination">
        {% if start_page_group > 1 %}
            <a href="{{ url_for('rec_list', page=start_page_group - 1, category=category, per_page=items_per_page) }}">이전</a>
        {% endif %}
    
        {% if total_pages > 1 %}
            {% for page_num in range(start_page_group, end_page_group + 1) %}
                {% if page_num == page %}
                    <span>{{ page_num }}</span>
                {% else %}
                    <a href="{{ url_for('rec_list', page=page_num, category=category, per_page=items_per_page) }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    
        {% if end_page_group < total_pages %}
            <a href="{{ url_for('rec_list', page=end_page_group + 1, category=category, per_page=items_per_page) }}">다음</a>
        {% endif %}
    </div>
    
</div>

<script>
    function filterRestaurants(category, button) {
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            if (category === '전체보기' || card.dataset.category === category) {
                card.style.display = 'block'; // 보이기
            } else {
                card.style.display = 'none'; // 숨기기
            }
        });

        // 버튼 활성화 처리
        const buttons = document.querySelectorAll('.b_filter');
        buttons.forEach(btn => {
            btn.classList.remove('active'); // 모든 버튼에서 active 클래스 제거
            btn.style.color = ''; // 기본 색상으로 초기화
        });

        // 클릭된 버튼에 active 클래스 추가 및 색상 변경
        button.classList.add('active');
        button.style.color = 'red';

        const currentPage = 1;  // 페이지를 1로 초기화
        const viewCount = document.getElementById('view').value; // 현재 선택된 식당 수

        // URL을 생성하여 해당 카테고리의 식당 목록을 요청
        window.location.href = `/rec_list?category=${category}&page=${currentPage}&per_page=${viewCount}`;
    }

    function updateViewCount() {
        const viewCount = document.getElementById('view-count').value; // 선택된 식당 수
        console.log("Selected view count:", viewCount); // viewCount 출력
        const currentPage = '{{ page }}';  // 현재 페이지 정보
        const currentCategory = document.querySelector('.b_filter.active') ? document.querySelector('.b_filter.active').dataset.category : '전체보기'; 

        // URL을 생성할 때 page, per_page, category를 쿼리 매개변수로 추가합니다.
        window.location.href = `{{ url_for('rec_list', page=currentPage, category=currentCategory) }}?per_page=${viewCount}`;
    }


    function redirectToDetail(recipeId) {
        window.location.href = `/rec_detail?recipe_id=${recipeId}`;
    }


    function redirectToDetail(recipeId) {
        window.location.href = `/rec_detail?recipe_id=${recipeId}`;
    }

</script>


{% endblock %}